* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #000000;
    padding: 20px;
    border-radius: 10px;
     
}
.calculator form .displayNum{
    text-align: right;
    padding-right: 20px;
    width: 310px ;
    font-size: 30px;
    color: #fdfdfd;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    margin: 10px;
    border-radius: 50px;
}
.calculator form input.numbers{
    background-color: #333333;
    color: #fdfdfd;
    border-color: black;
}
.calculator form input.functions{
    background-color: #ff9b0f;
    color: #fdfdfd;
}
.calculator form input.actions{
    background-color: #a9a59f;
}
.calculator form input.zero{
    width: 140px;
    text-align: left;
    padding-left: 20px;
}

